<nav class="navbar-expand-sm bg-white border-right" [class.active]="this.checked">
  <a class="navbar-brand">
    <img src="assets/img/user.png" id="user-photo" class="rounded-circle position-relative" height="36" width="36">
    <p class="fs-10 user-title sidebar-title ml-4" [class.active]="this.checked">{{ title }}</p>
    <p class="fs-14 user sidebar-title ml-4" [class.active]="this.checked">{{ username }}</p>
  </a>
  <ul class="">
    <li class="pb-3">
      <div class="activated-bg position-absolute" *ngIf="_router.url === '/home'"></div>
      <div class="activated-line position-absolute" *ngIf="_router.url === '/home'"></div>
      <a class="sidebar-anchor" routerLink="/home" routerLinkActive='activated'>
        <i class="material-icons mt-3" pTooltip="Inicio" [tooltipDisabled]="!this.checked" [tooltipZIndex]="10000">home</i>
        <span class="sidebar-title ml-4 mt-3 fs-13" [class.active]="this.checked">Inicio</span>
      </a>
    </li>
    <li class="pb-3">
      <div class="activated-bg position-absolute" *ngIf="_router.url === '/give-feddback'"></div>
      <div class="activated-line position-absolute" *ngIf="_router.url === '/give-feddback'"></div>
      <a class="sidebar-anchor" routerLink="/give-feddback" routerLinkActive='activated'>
        <i class="material-icons mt-3" pTooltip="Dar Feedback" [tooltipDisabled]="!this.checked" [tooltipZIndex]="10000">playlist_add_check</i>          
        <span class="sidebar-title ml-4 mt-3 fs-13" [class.active]="this.checked">Dar Feedback</span>
      </a>
    </li>
  </ul>
  <div class="collapse my-collapse">
    <ul class="secondary-list">
      <div class="top-line"></div>
      <div class="sidebar-title top-line-in"></div>
      <li>
        <a>
          <p-inputSwitch [style]="{'font-size':'0.5rem'}" [(ngModel)]="checked"></p-inputSwitch>
          <span class="sidebar-title ml-4 mt-1 fs-13" [class.active]="this.checked">Fijar men&uacute;</span>
        </a>
      </li>
      <li>
        <a class="pointer" routerLink="">
          <i class="material-icons">input</i>
          <span class="sidebar-title ml-4 fs-13" [class.active]="this.checked">Cerrar</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
